<div class="max-w-md bg-white rounded-2xl overflow-hidden shadow-lg mb-5">
  <div id="spot-id-<%= spot.id %>">
    <div class="px-6 py-4">
      <div class="flex relative items-center text-xl">
        <i class="fa-solid fa-location-dot text-fitting-pink pr-1.5"></i>
        <div class="font-bold tracking-wider">
          <%= link_to spot.name, spot_path(spot) %>
        </div>
        <% if logged_in? && current_user.not_own(spot) %>
          <%= render 'like_button', spot: spot %>
        <% end %>
      </div>
      <div class="flex flex-row ml-5">
        <i class="fas fa-star text-mitsuboshi-yellow text-xl pr-0.5"></i>
        <i class="fas fa-star text-mitsuboshi-yellow text-xl pr-0.5"></i>
        <i class="far fa-star text-mitsuboshi-yellow text-xl pr-0.5"></i>
        <p>(〇〇<%= t('defaults.reviews') %>)</p>
      </div>
      <p class="ml-5 pt-3"><%= spot.address %></p>
    </div>
    <div class="flex flex-wrap text-sm ml-4 px-6 mb-4">
      <%= render 'equipment_tags', spot: spot %>
    </div>
  </div>
</div>
