<div class="flex relative items-center text-xl">
  <i class="fa-solid fa-location-dot text-fitting-pink pr-1.5"></i>
  <div class="font-bold tracking-wider">
    <%= link_to spot.name, spot_path(spot) %>
  </div>
  <% if logged_in? && current_user.not_own(spot) %>
    <%= render 'spots/like_button', spot: spot %>
  <% end %>
</div>
<div class="flex flex-row ml-4">
  <%= link_to spot_feedbacks_path(spot) do %>
    <div id="star-rate-average-<%= spot.id %>" class="px-1"></div>
  <% end %>
  <p class="text-sm pt-1">( <%= spot.feedbacks.count %> <%= t('defaults.reviews') %> )</p>
</div>

<script>
  $('#star-rate-average-<%= spot.id %>').raty({
    starOff: '<%= asset_pack_path 'media/images/mini-star-off.svg' %>',
    starOn : '<%= asset_pack_path 'media/images/mini-star-on.svg' %>',
    starHalf: '<%= asset_pack_path 'media/images/mini-star-half.svg' %>',
    scoreName: 'feedback[rate]',
    half: true,
    readOnly: true,
    number: 3,
    score: <%= spot.feedbacks.average(:rate).to_f.round(1) %>
  })
</script>

<style>
 #star-rate-average-<%= spot.id %> img { 
   display: inline;
   margin: -2px;
 } 
</style>

