<div class="w-full max-w-md mt-10 mb-32">
  <div class="pt-4 pb-5">
  <a id="btnMap" href="spots#map" class="hidden inline-block bg-white rounded-full border border-gray-200 align-middle px-3 py-1 text-xs mr-2 mb-2 hover:bg-gray-200">
    <i class="fa-solid fa-location-dot"></i>
    <%= t('defaults.map_view') %>
  </a>
  <a id="btnList" href="spots#list" class="inline-block bg-white rounded-full border border-gray-200 align-middle px-3 py-1 text-xs mr-2 mb-2 hover:bg-gray-200">
    <i class="fas fa-list"></i>
    <%= t('defaults.list_view') %>
  </a>
  <div id="spotsMap" href="spots#map">
    <div id="mapSearchForm" class="flex mb-5">
      <div class="relative w-full">
        <div class="flex border rounded border-gray-200">
          <input type="text" id="keyword" class="block p-2 w-full z-20" placeholder="<%= t('defaults.search_by_facility') %>">
          <button id="search" class="flex items-center px-4 border-l bg-gray-200 hover:bg-mitsuboshi-blue" >
            <i class="fas fa-search text-white"></i>
          </button>
        </div>
      </div>
    </div>
    <div id="map"style="height:700px; width:100%;"></div>
  </div>
  <div id="spotsList" href="#list" class="hidden">
    <%= render 'search_form' %>
    <% if @spots.present? %>
      <%= render @spots %>
    <% else %>
      <p><%= t('.no_result') %></p>
    <% end %>
  </div>
</div>
<%= javascript_pack_tag 'spots_index' %>
<%= image_pack_tag 'media/images/go-to-page.png', class: 'absolute flex justify-center align-center bottom-0 right-9 w-15 h-20' %>

<script
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap"
  defer
></script>
