<div class="w-full max-w-md mt-10 mb-32">
  <div class="pt-4 pb-5">
    <%= render 'search_form' %>
    <div id="spotsMap" href="#map" style="height:700px; width:100%;"></div>
    <div id="spotsList" href="#list" class="hidden">
    <% if @spots.present? %>
      <%= render @spots %>
    <% else %>
      <p><%= t('.no_result') %></p>
    <% end %>
  </div>
</div>
<%= javascript_pack_tag 'spots_index' %>

<script
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap"
  defer
></script>
