<div class="w-full max-w-sm my-24">
  <div class="border-b-2 border-bg-mitsuboshi-gray pb-2">
    <div class="flex relative items-center text-xl mb-1">
      <i class="fa-solid fa-location-dot text-fitting-pink text-2xl pr-1.5"></i>
      <div class="font-bold tracking-wider"><%= @spot.name %></div>
      <% if logged_in? && current_user.not_own(@spot) %>
        <%= render 'like_button', spot: @spot %>
      <% end %>
    </div>
    <div class="flex flex-row ml-5">
      <i class="fas fa-star text-mitsuboshi-yellow text-xl pr-0.5"></i>
      <i class="fas fa-star text-mitsuboshi-yellow text-xl pr-0.5"></i>
      <i class="far fa-star text-mitsuboshi-yellow text-xl pr-0.5"></i>
      <p>(〇〇<%= t('defaults.reviews') %>)</p>
    </div>
  </div>
  <div class="px-5 py-5">
    <div class="mb-3">
      <p class="font-bold"><%= t('.address') %></p>
      <p class="py-2"><%= @spot.address %></p>
    </div>
    <div id="map"></div>
  </div>
  <div class="border-t-2 border-bg-mitsuboshi-gray">
    <div class="px-5 py-5">
      <p class="font-bold"><%= t('.equipment_details') %></p>
      <div class="pt-2">
        <% if @spot.equipment_details.present? %>
          <%= render 'equipment_tags', spot: @spot %>
        <% else %>
          <%= t('.none') %> 
        <% end %>
      </div>
    </div>
  </div>
  <% if logged_in? %>
    <div class="flex justify-center pb-5">
      <button class="btn nomal-btn"><%= t('defaults.edit') %></button>
    </div>
  <% end %>
  <%= render 'feedbacks/form', { spot: @spot, feedback: @feedback } %>
  <%= render 'feedbacks/feedbacks', { feedbacks: @feedbacks } %>

</div>

<script>
  function initMap() {
    const mySpot= { lat: gon.spot.latitude, lng: gon.spot.longitude }
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 15,
      center: mySpot,
    })
    const marker = new google.maps.Marker({
      position: mySpot,
      map: map,
    })
  }

  window.initMap = initMap

</script>

<script
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap"
  defer
></script>

<style>
  #map {
    height: 300px;
    width: 100%;
  }
</style>
