<div class="w-full max-w-md my-24">
  <div class="border-b-2 border-bg-mitsuboshi-gray pb-3">
    <%= render 'spot_title', { spot: @spot } %>
  </div>
  <div class="px-5 py-5">
    <div class="mb-3">
      <p class="font-bold"><%= t('.address') %></p>
      <p class="py-2"><%= @spot.address %></p>
    </div>
    <div id="map"></div>
  </div>
  <div class="border-t-2 border-bg-mitsuboshi-gray">
    <div class="px-5 py-5">
      <p class="font-bold"><%= t('.equipment_details') %></p>
      <div class="pt-2">
        <% if @spot.equipment_details.present? %>
          <%= render 'equipment_tags', spot: @spot %>
        <% else %>
          <%= t('.none') %> 
        <% end %>
      </div>
    </div>
  </div>
  <% if logged_in? && current_user.own?(@spot) %>
    <div class="flex justify-center pb-5">
      <%= link_to edit_spot_path(@spot), id: "button-edit-#{@spot.id}" do %> 
        <button class="btn nomal-btn mr-3"><%= t('defaults.edit') %></button>
      <% end %> 
      <%= link_to spot_path(@spot), id: "button-delete-#{@spot.id}", method: :delete, data: { confirm: "「スポット: #{@spot.name}」を削除しますか？" } do %>
        <button class="btn delete-btn"><%= t('defaults.destroy') %></button>
      <% end %>
    </div>
  <% end %>
  <div class="border-t-2 border-bg-mitsuboshi-gray">
    <div class="px-5 py-5">
      <div class="pt-2 pb-2">
        <% if @spot.image.present? %>
          <%= image_tag @spot.image.image.url,
                        class: 'spot-image border border-gray-200' %>
        <% else %>
          <%= image_tag 'spot_placeholder.png',
                         class: 'spot-image' %>
        <% end %>
      </div>
    </div>
    <% if logged_in? && current_user.own?(@spot) && @spot.image.present? %>
      <div class="flex justify-center pb-7">
        <%= link_to spot_image_path(@spot),
                    id: "button-delete-image-#{@spot.image.id}",
                    method: :delete,
                    data: { confirm: t('defaults.message.delete_confirm') } do %>
          <button class="text-center rounded shadow py-2 px-4 w-40 delete-btn"><%= t('defaults.delete-image') %></button>
        <% end %>
      </div>
    <% elsif logged_in? && current_user.own?(@spot) %>
      <div class="flex justify-center pb-5">
        <%= link_to new_spot_spot_image_path(@spot), id: "button-add-image-#{@spot.id}" do %> 
          <button class="text-center rounded shadow py-2 px-4 w-40 nomal-btn"><%= t('defaults.add-image') %></button>
        <% end %> 
      </div>
    <% end %>
  </div>
  <%= render 'feedbacks/feedbacks', { spot: @spot, feedbacks: @feedbacks } %>
</div>

<script>
  function initMap() {
    const mySpot= { lat: gon.spot.latitude, lng: gon.spot.longitude }
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 15,
      center: mySpot,
    })
    const marker = new google.maps.Marker({
      position: mySpot,
      map: map,
    })
  }

  window.initMap = initMap

</script>

<script
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap"
  defer
></script>

<style>
  #map {
    height: 300px;
    width: 100%;
  }
</style>
