<div class="w-full max-w-sm my-24">
  <h1 class="font-bold mb-4"><%= t('.title') %></h1>
  <%= form_with model: @user, url: profile_path, local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="mb-4">
      <div class="pt-5 pb-3">
        <%= f.label :name %>
      </div>
      <%= f.text_field :name, class: 'w-full rounded border border-gray-200 p-2' %>
    </div>
    <div class="mb-4">
      <div class="pt-5 pb-3">
        <%= f.label :email, class: 'block mb-1 pr-4' %>
      </div>
      <%= f.email_field :email, class: 'w-full rounded border border-gray-200 p-2' %>
    </div>
    <div class="mb-4">
      <div class="pt-5 pb-3">
        <%= f.label :avatar, class: 'block mb-1 pr-4' %>
      </div>
      <%= f.file_field :avatar, onchange: 'previewFileWithId(preview)', class: 'w-full rounded border border-gray-200 p-2', accept: 'image/*' %>
      <%= f.hidden_field :avatar_cache %>
    </div>
    <div class="mb-4">
      <%= image_tag @user.avatar.url,
                    class: 'mb-3 w-24 h-24 rounded-full shadow-lg',
                    id: 'preview' %>
    </div>
    <div class="my-8 md:text-center">
      <%= f.submit t('defaults.edit'), class: 'btn nomal-btn' %>
    </div>
  <% end %>
</div>

