<div class="w-full max-w-md my-24">
  <div class="flex items-center space-x-4 px-20 py-4">
    <div class="flex-shrink-0">
      <%= image_tag 'sample.png', class: 'mb-3 w-24 h-24 rounded-full shadow-lg' %>
    </div>
    <div class="flex-1 min-w-0 pl-2">
      <p class="text-lg truncate">
        <%= current_user.name %> 
      </p>
      <p class="truncate">
        <%= current_user.email %> 
      </p>
      <button class="text-center rounded shadow mt-3 py-1 px-4 w-2/3 nomal-btn truncate ">
        <%= t('defaults.edit') %>
      </button>
    </div>
  </div>
  <div class="text-sm font-medium text-center border-b border-mitsuboshi-gray">
    <ul class="flex">
      <li class="tab tab-favorites w-1/3 inline-block p-4 px-2 mr-2 is-active">
        <a href="#"><%= t('.favorites') %></a>
      </li>
      <li class="tab tab-feedbacks w-1/3 inline-block p-4 mr-2">
        <a href="#"><%= t('.feedbacks') %></a>
      </li>
      <li class="tab tab-posts w-1/3 inline-block p-4 mr-2">
        <a href="#"><%= t('.posts') %></a>
      </li>
    </ul>
  </div>
  <div class="px-5 py-5">
    <div class="panel tab-favorites is-show">
      <% if @like_spots.present? %>
        <%= render partial: 'spots/spot', collection: @like_spots, remote: true %>
      <% else %>
        <%= t('.no_favorite') %>
      <% end %>
    </div>
    <div class="panel tab-feedbacks">
      <% if @feedbacks.present? %>
        <%= render partial: 'feedbacks/feedback', collection: @feedbacks, remote: true %>
      <% else %>
        <%= t('.no_feedback') %>
      <% end %>
    </div>
    <div class="panel tab-posts">
      <% if @post_spots.present? %>
        <%= render partial: 'spots/spot', collection: @post_spots, remote: true %>
      <% else %>
        <%= t('.no_post') %>
      <% end %>
    </div>
  </div>
</div>
