<div class="w-full max-w-md my-24">
  <div class="flex items-center space-x-4 px-20 py-4">
    <div class="flex-shrink-0">
      <%= image_pack_tag 'media/images/default_avatar.svg', class: 'mb-3 w-24 h-24 rounded-full shadow-lg' %>
    </div>
    <div class="flex-1 min-w-0 pl-2">
      <p class="text-lg truncate">
        <%= current_user.name %> 
      </p>
      <p class="truncate">
        <%= current_user.email %> 
      </p>
      <button class="text-center rounded shadow mt-3 py-1 px-4 w-2/3 nomal-btn truncate ">
        <%= t('defaults.edit') %>
      </button>
    </div>
  </div>
  <div class="text-sm font-medium text-center border-b border-mitsuboshi-gray">
    <ul class="flex">
      <li class="w-1/3 inline-block p-4 px-2 mr-2 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300">
        <a href="#"><%= t('.favorites') %></a>
      </li>
      <li class="w-1/3 inline-block p-4 mr-2 rounded-t-lg border-b-2 border-mitsuboshi-blue active">
        <a href="#"><%= t('.feedbacks') %></a>
      </li>
      <li class="w-1/3 inline-block p-4 mr-2 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300">
        <a href="#"><%= t('.posts') %></a>
      </li>
    </ul>
  </div>
</div>
