<div>
  <h1>ユーザー登録</h1>
  <%= form_with model: @user, local: true do |f| %>
  <div>
   <%= f.label :name %>
   <%= f.text_field :name %>
  </div>
  <div>
   <%= f.label :email %>
   <%= f.email_field :email %>
  </div>
  <div>
   <%= f.label :password %>
   <%= f.password_field :password %>
  </div>
  <div>
   <%= f.label :password_confirmation %>
   <%= f.password_field :password_confirmation %>
  </div>
  <% end %>
</div>
