<div class="max-w-md bg-white rounded-2xl overflow-hidden shadow-lg mb-5">
  <div id="feedback-id-<%= feedback.id %>">
    <div class="p-4">
      <div class="flex items-center">
        <i class="fa-solid fa-circle-user text-fitting-pink h-8 w-8"></i>
        <p class="mx-2 text-xs"><%= feedback.user.name %></p>
        <div id="star-rate-<%= feedback.id %>" class="ml-auto"></div>
      </div>
      <p class="ml-10 pt-3"><%= feedback.feedback_comment %></p>
    </div>
    <div class="flex flex-wrap ml-10 pl-4 pr-6 mb-4">
      <%= render 'feedbacks/feedback_tags', feedback: feedback %>
    </div>
  </div>
</div>

<script>
  $('#star-rate-<%= feedback.id %>').raty({
    starOff: '<%= asset_pack_path 'media/images/mini-star-off.svg' %>',
    starOn : '<%= asset_pack_path 'media/images/mini-star-on.svg' %>',
    starHalf: '<%= asset_pack_path 'media/images/mini-star-half.svg' %>',
    scoreName: 'feedback[rate]',
    half: true,
    readOnly: true,
    number: 3,
    score: <%= feedback.rate %>
  })
</script>

<style>
 #star-rate-<%= feedback.id %> img { 
   display: inline;
   margin: -2px;
 } 
</style>
