<div class="max-w-md bg-white rounded-2xl overflow-hidden shadow-lg mb-5">
  <div id="feedback-id-<%= feedback.id %>">
    <div class="px-6 py-4">
      <div class="flex">
        <i class="fa-solid fa-circle-user fa-2xl text-fitting-pink"></i>
        <p class="mx-3 pt-1"><%= feedback.user.name %></p>
        <div id="star-rate-<%= feedback.id %>" class="ml-auto"></div>
      </div>
      <div class="ml-10">
        <p class="pt-1"><%= feedback.feedback_comment %></p>
      </div>
    </div>
  </div>
</div>

<script>
  $('#star-rate-<%= feedback.id %>').raty({
    starOff: '<%= asset_pack_path 'media/images/mini-star-off.svg' %>',
    starOn : '<%= asset_pack_path 'media/images/mini-star-on.svg' %>',
    starHalf: '<%= asset_pack_path 'media/images/mini-star-half.svg' %>',
    scoreName: 'feedback[rate]',
    half: true,
    readOnly: true,
    number: 3,
    score: <%= feedback.rate %>
  })
</script>

<style>
 #star-rate-<%= feedback.id %> img { 
   display: inline;
   margin: -2px;
 } 
</style>
