<div class="border-t-2 border-bg-mitsuboshi-gray">
  <div class="border-b-2 border-bg-mitsuboshi-gray pt-5 pb-2">
    <div class="flex relative items-center text-xl mb-1">
      <i class="fa-solid fa-location-dot text-fitting-pink text-2xl pr-1.5"></i>
      <div class="font-bold tracking-wider"><%= @spot.name %></div>
    </div>
    <div class="flex flex-row ml-5">
      <i class="fas fa-star text-mitsuboshi-yellow text-xl pr-0.5"></i>
      <i class="fas fa-star text-mitsuboshi-yellow text-xl pr-0.5"></i>
      <i class="far fa-star text-mitsuboshi-yellow text-xl pr-0.5"></i>
      <p>(〇〇<%= t('defaults.reviews') %>)</p>
    </div>
  </div>
  <div class="px-5 py-5">
    <p class="font-bold"><%= t('spots.show.give_feedback') %></p>
    <%= form_with model: feedback, url: [spot, feedback] do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div id="star" class="flex py-5">
        <div>
          <%= f.label :rate %>
        </div>
        <div class="flex ml-10">
          <%= f.hidden_field :rate, id: :review_star %>
        </div>
      </div>
      <div class="flex py-5">
        <%= f.label :feedback_comment %>
      </div>
      <div class="flex justify-center">
        <%= f.select :feedback_comment, [['キレイだった！', 'キレイだった！']], {}, class: 'p-2' %>
      </div>
      <div class="my-8 flex justify-center">
        <%= f.submit t('spots.show.give_feedback'), class: 'btn nomal-btn' %>
      </div>
    <% end %>
  </div>
</div>

<script>
  $('#star').raty({
    starOff: '<%= asset_pack_path 'media/images/star-off.svg' %>',
    starOn : '<%= asset_pack_path 'media/images/star-on.svg' %>',
    starHalf: '<%= asset_pack_path 'media/images/star-half.svg' %>',
    scoreName: 'feedback[rate]',
    half: true,
    number: 3
  })
</script>
