<div class="px-4 md:px-10 mx-auto w-full">
  <div class="flex flex-wrap">
    <div class="w-full lg:w-8/12 px-4">
      <div
        class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-100 border-0"
      >
        <div class="rounded-t bg-white mb-0 px-6 py-6">
          <div class="text-center flex justify-between">
            <h6 class="text-blueGray-700 text-xl font-bold">
              <%= t('.title') %>
            </h6>
          </div>
        </div>
        <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
          <div class="flex flex-wrap">
            <h6
              class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase"
            >
              <%= t('defaults.about_spot') %>
            </h6>
            <div class="w-full px-4">
              <div class="relative w-full mb-3">
                <div class="block text-blueGray-600 text-xs font-bold mb-2">
                  <%= Spot.human_attribute_name('name') %>
                </div>
                <p><%= @spot.name %></p>
              </div>
            </div>
            <div class="w-full px-4 pt-3">
              <div class="relative w-full mb-3">
                <div class="block text-blueGray-600 text-xs font-bold mb-2">
                  <%= Spot.human_attribute_name('address') %>
                </div>
                <p><%= @spot.address %></p>
              </div>
            </div>
          </div>
          <hr class="mt-6 border-b-1 border-blueGray-300" />
          <h6
            class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase"
          >
            <%= t('defaults.equipment_details') %>
          </h6>
          <div class="pt-2 px-4">
            <% if @spot.equipment_details.present? %>
              <%= render 'equipment_tags', spot: @spot %>
            <% else %>
              <%= t('.none') %> 
            <% end %>
          </div>
          <div class="text-right pt-5 pr-4">
            <%= link_to t('defaults.edit'), edit_admin_spot_path(@spot), class: 'admin-btn text-white font-bold bg-pink-600 hover:bg-pink-800' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
