<!DOCTYPE html>
<html>
  <head>
    <title>三つ星トイレ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="bg-base-color">
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <%= render 'shared/flash_message' %>
    <div class="container mx-auto px-5 flex justify-center align-center">
      <%= yield %>
    </div>
    <%= render 'shared/bottom_navbar' %>
  </body>
</html>
